#container {
  width: 800px;
  max-width: 100%;
  margin: 5px auto;
  padding: 5px 20px;
  box-shadow: 0 0 10px #999;
  border-radius: 5px;
}

#msg {
  width: 380px;
  border: solid 1px #aaa
}

.users {
  width: 150px;
  border: solid 1px #aaa
}